.product-sumb {
  position: relative;

  &::before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 155, 243, 0.9);
    opacity: 0;
    transition: background-color 250ms linear;
    z-index: 1;
  }

  &:hover::before {
    opacity: 1;
  }

  &:hover .hover-text {
    opacity: 1;
  }

  .hover-text {
    position: absolute;
    color: white;
    opacity: 0;
    z-index: 2;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    pointer-events: none;
  }
}

.hover-text:hover::before {
  opacity: 1;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);
}

.hover-text-p {
  font-size: 18px;
  color: #fff;
  text-align: left;
  opacity: 0.9;
}