.hero-img-clien {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0 30px 94px 0;

  .clien-img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }
}

.regular-customer {
  text-align: center;
  font-size: 36px;
  margin: 94px 0 50px;
}