

.container main-nav {
  margin-left: auto;
}

.hero-section-portfolio {
  text-align: center;
  justify-content: center;
}

.main-list {
  display: flex;
  margin-right: 0;
}

.main-list-p {
  margin-right: 30px;
}

.main-list-img:hover,
.clien-img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.list-h1 {
  color: var(--secondary-color);
  font-size: 44px;
}

.main-list-h2 {
  font-size: 14px;
}