.address {
  display: flex;
  align-items: flex-end;

  .address-text {
    color: var(--color-text-black);
    text-decoration: none;
    font-size: 14px;
    margin-right: 50px;

    &:hover {
      color: var(--primary-text-color);
    }
  }

  .address-number {
    color: var(--color-text-black);
    text-decoration: none;
    font-size: 14px;

    &:hover {
      color: var(--primary-text-color);
    }
  }
}

.address-text {
  margin-left: 344px;
}