.Team-Section {
  margin-bottom: 94px;
}

.design {
  justify-content: center;
  background-color: var(--color-background-team);
  padding: 0 15px;
  text-align: center;
}

.list-h4,
.style-list-p4 {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 0;
}

.list-h4 {
  margin-top: 30px;
}

.style-list-p4 {
  padding-bottom: 94px;
}