:root {
  --primary-text-color: rgb(33, 150, 243);
  --secondary-color: white;
  --color-text-black: black;
  --color-text-red: red;
  --color-footer: #2F303A;
  --color-button-white: #F5F4FA;
  --color-background-team: #F5F4FA;
  --color-text-paragraph: #757575;
  --color-text-blue-hover: #2196F3;
  --color-border-port: #EEEEEE;
  --color-modal-text: #212121;
  --color-modal-politic: #2196F3;
}
